

    <!-- header -->
    <div id="header">

        <div class="user-action">
            <div class="user-short-info">
                <div class="avatar">
                    <img src="./img/IMG_20220901_220751.jpg" alt="">   
                </div>
            <span>Tra Ng</span>    
            </div>
            <button onclick="logout()" class="logout">
                Đăng xuất
            </button>
        </div>

       <div class="line"></div>

        <div class="nav">
     
            <button class="tablinks" onclick="opentablinks(event,'allFriends')">Tất cả bạn bè</button>
            <button class="tablinks" onclick="opentablinks(event,'folowing')">Đang theo dõi</button>
            <button class="tablinks" onclick="opentablinks(event,'blocked')">Đã chặn</button>
            <button class="tablinks" onclick="opentablinks(event,'chat')">Nhắn tin</button>
          
        </div>

        <!-- tabcontent -->

        <!-- all friends -->
        <div id="allFriends" class="tabcontent">
            
            <div class="my-user">
                <div class="user" data-userid="63186eea8683a80111996b01">
                    <div class="user-info-short">
                        <div class="avatar">
                            <img src="./img/IMG_20220901_220751.jpg" alt="">
                        </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                        
                    </div>
                </div>
    
                <div class="user" data-userid="63186f068683a80111996b03">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
            </div>
            


        </div>

        <!-- folowing -->
        <div id="folowing" class="tabcontent">
            <div class="my-user">
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- blocked -->
        <div id="blocked" class="tabcontent">
            <div class="my-user">
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
    
                <div class="user">
                    <div class="user-info-short">
                        <div class="avatar">
                        <img src="./img/IMG_20220901_220751.jpg" alt="">
                    </div>
                    <div class="user-info">
                        
                        <div class="user-name">
                            <span>Tra Ng</span>
                        </div>
                        <div class="user-old">
                            <span>21 tuổi</span>
                        </div>
                    </div>
                    </div>
                    <div class="action">
                        <img src="./img/icon-menu.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- chat -->
        <div id="chat" class="tabcontent">
            <h3>chat</h3>
            <p>London is the capital city of England.</p>
        </div>




    </div>

    <!-- body -->
    <div id="body">

      

    </div>

    <!-- footer -->
    <div id="footer">

    </div>


